<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
   <!-- 引入公共页头 -->
   <%= require("html-loader!../common/header/index.html") %>
    <section class="news-container">
      <div class="center news-main">
        <div class="module-title">
          <span class="cate-title">最新动态
            <div class="en">New Dynamic</div>
          </span>
          <div class="crumbs">
            <a href="/">首页</a> &gt;
            <a href="/">公司动态</a>
          </div>
        </div>
        <ul class="news-list">
          <li class="news-item">
            <div class="img">
              <img src="/public/img/project01.jpg" alt="">
            </div>
            <div class="text">
              <div class="date">
                <div class="year">2021</div>
                <div class="day">03/10</div>
                <div class="m-date">2021-03-10</div>
              </div>
              <div class="cont">
                <div class="title">
                  <a href="news_view.html">标题</a>
                </div>
                <div class="info">
                  <a href="news_view.html">
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="news-item">
            <div class="img">
              <img src="/public/img/project01.jpg" alt="">
            </div>
            <div class="text">
              <div class="date">
                <div class="year">2021</div>
                <div class="day">03/10</div>
              </div>
              <div class="cont">
                <div class="title">
                  <a href="news_view.html">标题</a>
                </div>
                <div class="info">
                  <a href="news_view.html">
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="news-item">
            <div class="img">
              <img src="/public/img/project01.jpg" alt="">
            </div>
            <div class="text">
              <div class="date">
                <div class="year">2021</div>
                <div class="day">03/10</div>
              </div>
              <div class="cont">
                <div class="title">
                  <a href="news_view.html">标题</a>
                </div>
                <div class="info">
                  <a href="news_view.html">
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="news-item">
            <div class="img">
              <img src="/public/img/project01.jpg" alt="">
            </div>
            <div class="text">
              <div class="date">
                <div class="year">2021</div>
                <div class="day">03/10</div>
              </div>
              <div class="cont">
                <div class="title">
                  <a href="news_view.html">标题</a>
                </div>
                <div class="info">
                  <a href="news_view.html">
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="news-item">
            <div class="img">
              <img src="/public/img/project01.jpg" alt="">
            </div>
            <div class="text">
              <div class="date">
                <div class="year">2021</div>
                <div class="day">03/10</div>
              </div>
              <div class="cont">
                <div class="title">
                  <a href="news_view.html">标题</a>
                </div>
                <div class="info">
                  <a href="news_view.html">
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="pagelist">
          <!-- <li class="pageitem">
            <a href="news_view.html">上一页</a>
          </li> -->
          <li class="pageitem on">
            <a href="news_view.html">1</a>
          </li>
          <li class="pageitem">
            <a href="news_view.html">2</a>
          </li>
          <li class="pageitem">
            <a href="news_view.html">3</a>
          </li>
          <li class="pageitem">
            <a href="news_view.html">下一页</a>
          </li>
        </ul>
      </div>
    </section>
   <!-- 引入公共页尾 -->
   <%= require("html-loader!../common/footer/index.html") %>
  </body>
</html>
