<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="project-container">
      <div class="cate">
        <div class="title wow fadeInLeft">
          案例
          <div class="en">Cases</div>
        </div>
        <div class="filter-wrap wow fadeInRight">
          <div class="filter">
            <span>时间
              <i class="iconfont icon-xiala"></i>
            </span>
            <ul class="filter-list">
              <li class="filter-item">
                <a href="javascript:;">2020-2021</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">2018-2019</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">2016-2017</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">2014-2015</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">2012-2013</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">2010-2011</a>
              </li>
            </ul>
          </div>
          <div class="filter">
            <span>类别
              <i class="iconfont icon-xiala"></i>
            </span>
            <ul class="filter-list">
              <li class="filter-item">
                <a href="javascript:;">类别1</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">类别2</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">类别3</a>
              </li>
            </ul>
          </div>
          <div class="filter">
            <span>区域
              <i class="iconfont icon-xiala"></i>
            </span>
            <ul class="filter-list">
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">北京</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">上海</a>
              </li>
              <li class="filter-item">
                <a href="javascript:;">天津</a>
              </li>
            </ul>
          </div>
          <form action="">
            <label for="">
              <input type="text">
              <button type="submit">
                <i class="iconfont icon-sousuo"></i>
              </button>
            </label>
          </form>
        </div>
      </div>
      <ul class="project-list row m-0">
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".1s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project01.jpg)"></div>
          <div class="title">苏嘉集团耘林生命公寓锡海嘉苑</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".2s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project02.jpg)"></div>
          <div class="title">无锡兰亭国际大厦</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".3s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project03.jpg)"></div>
          <div class="title">泰州职业技术学院</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".4s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project03.jpg)"></div>
          <div class="title">泰州职业技术学院</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".5s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project03.jpg)"></div>
          <div class="title">泰州职业技术学院</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".6s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project03.jpg)"></div>
          <div class="title">泰州职业技术学院</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".1s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project01.jpg)"></div>
          <div class="title">苏嘉集团耘林生命公寓锡海嘉苑</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".2s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project02.jpg)"></div>
          <div class="title">无锡兰亭国际大厦</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".3s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project03.jpg)"></div>
          <div class="title">泰州职业技术学院</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".4s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project03.jpg)"></div>
          <div class="title">泰州职业技术学院</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".5s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project03.jpg)"></div>
          <div class="title">泰州职业技术学院</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".6s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project03.jpg)"></div>
          <div class="title">泰州职业技术学院</div>
          </a>
        </li>
      </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>