<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
   <!-- 引入公共页头 -->
   <%= require("html-loader!../common/header/index.html") %>
    <div class="home-banner swiper-container wow fadeInRight">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img src="/public/img/banner01.jpg" alt="">
          <div class="text">兰亭国际大厦</div>
        </li>
        <li class="swiper-slide">
          <img src="/public/img/banner02.jpg" alt="">
          <div class="text">泰州职业技术学院</div>
        </li>
        <li class="swiper-slide">
          <img src="/public/img/banner03.jpg" alt="">
          <div class="text">泰州职业技术学院2</div>
        </li>
        <li class="swiper-slide">
          <img src="/public/img/banner04.jpg" alt="">
          <div class="text">耘林生命公寓锡海嘉苑</div>
        </li>
        <li class="swiper-slide">
          <img src="/public/img/banner01.jpg" alt="">
          <div class="text">兰亭国际大厦</div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <section class="project-container">
      <ul class="project-list row m-0">
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".1s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project01.jpg)"></div>
          <div class="title">苏嘉集团耘林生命公寓锡海嘉苑</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".2s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project02.jpg)"></div>
          <div class="title">无锡兰亭国际大厦</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".3s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project03.jpg)"></div>
          <div class="title">泰州职业技术学院</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".4s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project03.jpg)"></div>
          <div class="title">泰州职业技术学院</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".5s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project03.jpg)"></div>
          <div class="title">泰州职业技术学院</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".6s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project03.jpg)"></div>
          <div class="title">泰州职业技术学院</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".1s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project01.jpg)"></div>
          <div class="title">苏嘉集团耘林生命公寓锡海嘉苑</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".2s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project02.jpg)"></div>
          <div class="title">无锡兰亭国际大厦</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".3s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project03.jpg)"></div>
          <div class="title">泰州职业技术学院</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".4s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project03.jpg)"></div>
          <div class="title">泰州职业技术学院</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".5s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project03.jpg)"></div>
          <div class="title">泰州职业技术学院</div>
          </a>
        </li>
        <li class="project-item col-xl-2 col-lg-3 col-md-4 col-6 px-md-2 px-1 pb-md-3 pb-2 wow fadeInUp" data-wow-delay=".6s">
          <a href="project_view.html">
          <div class="img" style="background-image:url(/public/img/project03.jpg)"></div>
          <div class="title">泰州职业技术学院</div>
          </a>
        </li>
      </ul>
    </section>
   <!-- 引入公共页尾 -->
   <%= require("html-loader!../common/footer/index.html") %>
  </body>
</html>
