<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
   <!-- 引入公共页头 -->
   <%= require("html-loader!../common/header/index.html") %>
    <section class="news-container">
      <div class="center news-main">
        <div class="module-title">
          <span class="cate-title">最新动态
            <div class="en">New Dynamic</div>
          </span>
          <div class="crumbs">
            <a href="/">首页</a> &gt;
            <a href="/">公司动态</a>
          </div>
        </div>
        <div class="main-content wow fadeInUp">
          <div class="rs-title">
            这里是文章的标题
            <div class="rs-date">
              <span>2021-03-20</span>
              <span>作者：admin</span>
            </div>
          </div>
          <div class="main-view">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eveniet odio cum iste aliquid numquam earum qui aperiam id rerum, dolor quasi fugit aut nesciunt nihil enim mollitia quo. Nesciunt.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis maxime in rem fugit maiores, eveniet repellendus laborum ullam hic velit omnis minus expedita! Est praesentium ut, quisquam porro dolore quia!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia rem similique quia optio architecto minima, debitis, dolores minus tenetur dignissimos ullam non repellendus eos aperiam! Dolor, cupiditate facilis? Eum, quis!
            </p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quo aut sit. Quas, qui pariatur officia, et molestias at perspiciatis voluptate, voluptatibus neque nihil nesciunt harum provident magni aperiam facilis.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. At laboriosam quasi neque, officia voluptates fugiat totam nemo natus voluptas ipsum cupiditate asperiores quibusdam cum quas magni aut recusandae sequi maiores?
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id ipsam tempora consequatur et modi nobis. Cum eligendi sed iure perspiciatis ipsum aliquam nostrum, ex modi repellendus sunt nobis, laboriosam soluta.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eveniet odio cum iste aliquid numquam earum qui aperiam id rerum, dolor quasi fugit aut nesciunt nihil enim mollitia quo. Nesciunt.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis maxime in rem fugit maiores, eveniet repellendus laborum ullam hic velit omnis minus expedita! Est praesentium ut, quisquam porro dolore quia!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia rem similique quia optio architecto minima, debitis, dolores minus tenetur dignissimos ullam non repellendus eos aperiam! Dolor, cupiditate facilis? Eum, quis!
            </p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quo aut sit. Quas, qui pariatur officia, et molestias at perspiciatis voluptate, voluptatibus neque nihil nesciunt harum provident magni aperiam facilis.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. At laboriosam quasi neque, officia voluptates fugiat totam nemo natus voluptas ipsum cupiditate asperiores quibusdam cum quas magni aut recusandae sequi maiores?
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id ipsam tempora consequatur et modi nobis. Cum eligendi sed iure perspiciatis ipsum aliquam nostrum, ex modi repellendus sunt nobis, laboriosam soluta.
            </p>
          </div>
        </div>
      </div>
    </section>
   <!-- 引入公共页尾 -->
   <%= require("html-loader!../common/footer/index.html") %>
  </body>
</html>
