<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner wow fadeInRight" style="background-image: url(/public/img/job_banner.jpg);"></section>
    <section class="job-container wow fadeInUp">
      <div class="job-wrap center">
        <div class="title-module">
          <div class="cn wow fadeInUp">招贤纳士</div>
          <div class="en wow fadeInUp">join us</div>
        </div>
        <div class="note wow fadeInUp">
          <p>
            公司秉承传统的设计模式，专注于设计思路从推演到发展至成熟的过程，我们尊重设计的原创性，尊重每个设计师最本源的设计灵感，也尊重每一个设计成果。公司实施扁平化管理，将更多的注意力放到每个设计师的成长，同时最大可能的去发挥每个成员的设计天赋。
          </p>
          <p>
            因公司发展和业务需要，现面向校园招聘以下岗位，有意应聘者，请将个人简历或作品集发至公司邮箱。
          </p>
          <p>
            总体要求：身心健康，有较强的学习能力以及较好的沟通和协作能力，具备良好的服务意识，做事认真、积极、为人热情，性别不限，吃苦耐劳。
          </p>
        </div>
        <ul class="job-list">
          <li class="job-item wow fadeInLeft">
            <div class="img" style="background-image: url(/public/img/job01.jpg);">
              <div class="text">建筑设计实习
                <i class="iconfont icon-xiala"></i>
              </div>
            </div>
            <div class="info">
              专业：建筑学 / 学历：本科、硕士
            </div>
          </li>
          <li class="job-item wow fadeInRight">
            <div class="img" style="background-image: url(/public/img/job02.jpg);">
              <div class="text">助理设计师
                <i class="iconfont icon-xiala"></i>
              </div>
            </div>
            <div class="info">
              专业：建筑学 / 学历：本科、硕士
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="job-poster wow fadeInUp" style="background-image: url(/public/img/job-poster.jpg);">
      <div class="text">
        <div class="cn">本招聘长期有效</div>
        <div class="en">This recruitment long-term effective</div>
        <div class="decorate"></div>
      </div>
    </section>
    <section class="contact">
      <div class="title-module">
        <div class="cn">联系我们</div>
        <div class="en">contact us</div>
      </div>
      <ul class="contact-list center">
        <li class="contact-item wow fadeInRight" data-wow-delay=".1s">
          <div class="title">上海 / SHANGHAI</div>
          <div class="info">
            <p>TEL:021-32560668</p>
            <p>FAX:021-32560336</p>
            <p>EMAIL:INFO@JCBKARCHITECT.COM</p>
            <br>
            <p>上海市长宁区番禺路381弄F座402-406室</p>
          </div>
        </li>
        <li class="contact-item wow fadeInRight" data-wow-delay=".1s">
          <div class="title">上海 / SHANGHAI</div>
          <div class="info">
            <p>TEL:021-32560668</p>
            <p>FAX:021-32560336</p>
            <p>EMAIL:INFO@JCBKARCHITECT.COM</p>
            <br>
            <p>上海市长宁区番禺路381弄F座402-406室</p>
          </div>
        </li>
        <li class="contact-item wow fadeInRight" data-wow-delay=".1s">
          <div class="title">上海 / SHANGHAI</div>
          <div class="info">
            <p>TEL:021-32560668</p>
            <p>FAX:021-32560336</p>
            <p>EMAIL:INFO@JCBKARCHITECT.COM</p>
            <br>
            <p>上海市长宁区番禺路381弄F座402-406室</p>
          </div>
        </li>
        <li class="contact-item wow fadeInRight" data-wow-delay=".1s">
          <div class="title">上海 / SHANGHAI</div>
          <div class="info">
            <p>TEL:021-32560668</p>
            <p>FAX:021-32560336</p>
            <p>EMAIL:INFO@JCBKARCHITECT.COM</p>
            <br>
            <p>上海市长宁区番禺路381弄F座402-406室</p>
          </div>
        </li>
      
      </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>